
<!--
{% load i18n %}

<div class="test1_block" data-state="{{ student_state }}" data-max-size="{{ max_file_size }}"
     data-staff="{{ is_course_staff }}">
  <script type="text/template" id="sga-tmpl">


    <h1><b><%= display_name %></b></h1><br>
    <h2><b>Problem Statement</b></h2>
    <p><%= question %></p><br>
    

  </script>
</div>

-->


<div class="yourxblock_block">
</div>

<div id="qwerty">
</div>


<div>

<p id="quesStu"></p>


<p id="chk_ans"></p>
</div> 


<div>
    <button id="submit_btn">Submit</button>
</div>


